* {
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --base-color: rgb(249, 246, 250);
  --base-variant: rgba(240, 231, 245, 0.859);
  --text-color: #111528;
  --primary-color: #3a435d;
  --search-color: rgb(15, 8, 8);
}
.darkMode {
  --base-color: #5c6075;
  --base-variant: #34384b;
  --text-color: rgb(241, 230, 230);
  --primary-color: #c4c7cf;
  --search-color: rgb(255, 255, 255);
}
.divBody {
  display: flex;
  justify-content: start;
  background-color: var(--base-variant);
  color: var(--text-color);
}
.containerCountry {
  justify-content: start;
  gap: 20px;
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 320px;
  background-color: var(--base-color);
}
.containerCountry:hover {
  background-color: var(--base-variant);
  box-shadow: 0 8px 10px var(--text-color);
  bottom: 15px;
  cursor: pointer;
  transition: transform 0.9s ease;
}
.imgCountrySmall {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.imgCountryBig {
  flex: 1;
  width: 400px;
  height: auto;
  box-shadow: inset;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--search-color);
}
.textDescriptionDiv,
.darkModeDiv {
  margin-right: 15px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.textDescriptionDiv {
  text-align: center;
  align-items: start;
}
.darkModeDiv:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.nameDescription {
  white-space: nowrap;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 900;
}
.valueDescription {
  text-align: start;
  justify-content: start;
 white-space: nowrap;
  flex-shrink: 0;
  display: flex;
  width: 250px;
  white-space: normal;
  word-wrap: break-word;
  font-size: 16px;
  font-weight: 100;
}

.countryName {
  margin: 12px 0;
  padding: 4px;
  font-size: 30px;
  font-weight: bold;
}
.navbar {
  box-shadow: 0 0 5px var(--search-color);
  background-color: var(--base-color);
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.countyDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.leftDescription,
.rightDescription {
  display: inline-block;
  width: 380px;
  /* flex: 1; */
}
.countryListDiv {
  display: flex;
  background-color: var(--base-variant);
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
}
.searchInput {
  margin: 10px ;
  background-color: var(--base-color);
  color: var(--text-color);
  padding: 8px;
  width: 30%;
  min-width: 220px;
  font-size: 14px;
  border-radius: 4px;
  animation: fadeIn 0.5s ease-out;
}
.searchInput::placeholder {
  color: var(--primary-color);
}
.searchInput:focus {
  box-shadow: 0 0 15px var(--search-color);
  border-color: var(--primary-color);
}
.countrySearchContainer {
  margin-top: 60px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.selectDiv {
  margin: 10px 30px 10px 10px;

  height: 40px;
  width: 150px;
  background-color: var(--base-color);
  color: var(--primary-color);
  animation: slideFadeIn 0.5s ease-out;
}
.selectDiv:hover {
  border-color: var(--primary-color);
}
.selectDiv:focus {
  border-color: var(--base-color);
  box-shadow: 0 0 8px var(--primary-color);
  outline: none;
}
.singleCountyBody {
  height: 100vh;
  width: 100%;
  padding: 40px 40px 0 40px;
  background-color: var(--base-variant);
  color: var(--text-color);
  min-width: 300px;
  overflow-x: auto;
}
.moreAboutCounty {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.countryDescriptionDiv {
  
  padding: 1rem;
  text-align: start;
  align-items: start;
  justify-content: start;
}
.singleCountryDiv {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  place-items: center;
  justify-content: space-around;
  border-radius: 8px;
}
.backButton {
  padding: 10px 20px;
  border: 1px solid var(--text-color);
  background-color: var(--base-color);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 6px rgba(241, 66, 66, 0.1);
}
.backButton:hover {
  background-color:var(--base-variant);
  box-shadow: 0 0 8px rgba(200, 220, 233, 0.4);
}
.borderCountryButton {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.borderCountryButton:hover {
  transform: scale(1.1);
}
.borderCountriesDiv {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-items: center;
  flex-direction: row;
  /* padding-top: 1rem; */
  min-width: 400px;
}
.borderCountriesName {
  /* margin-bottom: 0.2rem; */
  margin-left: 0.2rem;
   margin-right: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--text-color);
}
.countryDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
   /* justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow: auto; */
 
}
.notFoundDiv {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-variant);
  transition: opacity 1.75s ease, visibility 1.75s ease;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--text-color);
  border-top-color: var(--primary-color);
  border-radius: 50%;
  animation: loading 1.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/* @media (max-width: 1280) {
  .moreAboutCounty {
    flex-direction: column;
  }
} */
@media (max-width: 800px) {
  .singleCountryDiv,.moreAboutCounty {
    flex-direction: column;
  }
  .imgCountryBig {
    width: 400px;
  }
  .borderCountriesName {
    justify-content: start;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar,
  .countryListDiv {
    min-width: 375px;
  }
  .countryDiv {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
 
  .searchInput {
    width: 95%;
  }
  .countrySearchContainer,
  .moreAboutCounty {
    flex-direction: column;
  }
  .countryDescriptionDiv {
    padding: 0rem;
     flex: 1; 
  }
  .backButton {
    margin-left: 10px;
  }
  .borderCountryButton {
    margin-left: 0;
  }
}
